<md-toolbar>
    <navbar></navbar>
</md-toolbar>

<!-- ======================== SUCCESS POPUP ======================== -->
<p-dialog [(visible)]="displaySuccess" modal="modal" width="500" responsive="true">
    <p-header><h4>SUCCESS!</h4></p-header>

    <table>
        <td><i class="material-icons">error outline</i></td>
        <td><h3>Cererea dumneavoastra a fost trimisa cu success!</h3><br></td>
    </table>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button md-button class="button" pButton icon="fa-close" (click)="displaySuccess=false">OK</button>
        </div>
    </p-footer>
</p-dialog>

<!-- ======================== ERROR POPUP ======================== -->
<p-dialog [(visible)]="displayError" modal="modal" width="500" responsive="true">
    <p-header><h4>ATENTIE!</h4></p-header>

    <table>
        <td><i class="material-icons">error outline</i></td>
        <td><h3>NU ATI COMPLETAT CORECT TOATE CAMPURILE NECESARE</h3><br></td>
    </table>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button md-button class="button" pButton icon="fa-close" (click)="displayError=false">OK</button>
        </div>
    </p-footer>
</p-dialog>


<!-- ======================== PRIMUL POPUP ======================== -->
<p-dialog [(visible)]="display1" modal="modal" width="500" responsive="true">
    <p-header><h4>Cerere Transport</h4></p-header>

    <table>
        <td><i class="material-icons">error outline</i></td>
        <td><h3>Introduceti datele necesare. Campurile cu * sunt obligatorii!</h3><br></td>
    </table>

    <div class="text-fields">
        <label> *</label>
        <input type="text" pInputText required minlength="8" maxlength="8" size="40" placeholder="Serie si Numar C.I" [(ngModel)]="serie"/>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-dropdown required [options]="years" [(ngModel)]="selectedYear" placeholder="Alege anul de studiu"
                    [style]="{overflow:'visible', width:'50%'}"></p-dropdown>
    </div>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button md-button class="button" pButton icon="fa-check" (click)="sendInformation1()">TRIMITE</button>
            <button md-button class="button" pButton icon="fa-close" (click)="display1=false">ANULEAZA</button>
        </div>
    </p-footer>
</p-dialog>

    <!-- ======================== AL DOILEA POPUP ======================== -->
<p-dialog [(visible)]="display2" modal="modal" width="500" responsive="true">
    <p-header><h4>Cerere Retragere</h4></p-header>

    <table>
        <td><i class="material-icons">error outline</i></td>
        <td><h3>Introduceti datele necesare. Campurile cu * sunt obligatorii!</h3><br></td>
    </table>

    <div class="text-fields">
        <label> *</label>
        <input type="text" pInputText required minlength="8" maxlength="8" size="40" placeholder="Serie si Numar C.I" [(ngModel)]="serie"/>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-dropdown required [options]="years" [(ngModel)]="selectedYear" placeholder="Alege anul de studiu" [style]="{width:'50%'}"></p-dropdown>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-inputMask required [(ngModel)]="an" mask="9999-9999" slotChar="2016-2017"
                     placeholder="Anul Universitar"></p-inputMask>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-selectButton required [options]="courses" [(ngModel)]="selectedCourse"></p-selectButton>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-checkbox required [(ngModel)]="accept" binary="true" value="false"
                    label="Va rog sa-mi aprobati cererea de retragere"></p-checkbox>
    </div>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button md-button class="button" pButton icon="fa-check" (click)="sendInformation2()">TRIMITE</button>
            <button md-button class="button" pButton icon="fa-close" (click)="display2=false">ANULEAZA</button>
        </div>
    </p-footer>
</p-dialog>

    <!-- ======================== AL TREILEA POPUP ======================== -->
<p-dialog [(visible)]="display3" modal="modal" width="500" responsive="true">
    <p-header><h4>Cerere Intrerupere Studii</h4></p-header>
    <table>
        <td><i class="material-icons">error outline</i></td>
        <td><h3>Introduceti datele necesare. Campurile cu * sunt obligatorii!</h3><br></td>
    </table>

    <div class="text-fields">
        <label> *</label>
        <input type="text" pInputText required minlength="8" maxlength="8" size="40" placeholder="Serie si Numar C.I" [(ngModel)]="serie"/>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-dropdown required [options]="years" [(ngModel)]="selectedYear" placeholder="Alege anul de studiu" [style]="{width:'50%'}"></p-dropdown>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-inputMask required [(ngModel)]="an" mask="9999-9999" slotChar="2016-2017"
                     placeholder="Anul Universitar"></p-inputMask>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-selectButton required [options]="studies" [(ngModel)]="selectedStudy"></p-selectButton>
    </div>

    <div class="text-fields">
        <h1> Incepand cu semestrul (1, 2) </h1>
        <label> *</label>
        <input required type="number" pInputText size="40" placeholder="" [(ngModel)]="dinSemestrul"/>
    </div>

    <div class="text-fields">
        <h1> Din anul (1, 2, 3)</h1>
        <label> *</label>
        <input required type="number" pInputText size="40" placeholder="" [(ngModel)]="dinAnul"/>
    </div>

    <div class="text-fields">
        <h1> Pentru numarul de semestre (1, 2,..) </h1>
        <label> *</label>
        <input required type="number" pInputText size="40" placeholder="" [(ngModel)]="pentruXSemestre"/>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-checkbox required [(ngModel)]="accept" binary="true" value="false"
                    label="Va rog sa-mi aprobati cererea de retragere"></p-checkbox>
    </div>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button md-button class="button" pButton icon="fa-check" (click)="sendInformation3()">TRIMITE</button>
            <button md-button class="button" pButton icon="fa-close" (click)="display3=false">ANULEAZA</button>
        </div>
    </p-footer>
</p-dialog>

    <!-- ======================== AL PATRULEA POPUP ======================== -->
<p-dialog [(visible)]="display4" modal="modal" width="500" responsive="true">
    <p-header><h4>Cerere Diploma</h4></p-header>
    <table>
        <td><i class="material-icons">error outline</i></td>
        <td><h3>Introduceti datele necesare. Campurile cu * sunt obligatorii!</h3><br></td>
    </table>

    <div class="text-fields">
        <label> *</label>
        <p-selectButton required [options]="studentTypes" [(ngModel)]="selectedStudentType"></p-selectButton>
    </div>


    <div class="text-fields">
        <label> *</label>
        <p-dropdown required [options]="years" [(ngModel)]="selectedYear" placeholder="Alege anul de studiu" [style]="{width:'50%'}"></p-dropdown>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-inputMask required [(ngModel)]="an" mask="9999-9999" slotChar="2016-2017"
                     placeholder="Anul Universitar"></p-inputMask>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-selectButton required [options]="diplomaTypes" [(ngModel)]="selectedDiplomaType"></p-selectButton>
    </div>

    <div class="text-fields">
        <label> *</label>
        <input type="text" required pInputText size="40" placeholder="Motiv" [(ngModel)]="motiv"/>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-checkbox required [(ngModel)]="accept" binary="true" value="false"
                    label="Va rog sa-mi aprobati imprumutul pentru 2 zile lucratoare"></p-checkbox>
    </div>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button md-button class="button" pButton icon="fa-check" (click)="sendInformation4()">TRIMITE</button>
            <button md-button class="button" pButton icon="fa-close" (click)="display4=false">ANULEAZA</button>
        </div>
    </p-footer>
</p-dialog>

    <!-- ======================== 5 POPUP ======================== -->
<p-dialog [(visible)]="display5" modal="modal" width="500" responsive="true">
    <p-header><h4>Cerere Situatie Scolara</h4></p-header>
    <table>
        <td><i class="material-icons">error outline</i></td>
        <td><h3>Introduceti datele necesare. Campurile cu * sunt obligatorii!</h3><br></td>
    </table>

    <div class="text-fields">
        <label> *</label>
        <p-dropdown [options]="years" [(ngModel)]="selectedYear" placeholder="Alege anul de studiu" [style]="{width:'50%'}"></p-dropdown>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-inputMask [(ngModel)]="an" mask="9999-9999" slotChar="2016-2017"
                     placeholder="Anul Universitar"></p-inputMask>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-selectButton [options]="studies" [(ngModel)]="selectedStudy"></p-selectButton>
    </div>

    <div class="text-fields">
        <label> *</label>
        <input type="text" pInputText size="40" placeholder="Motiv" [(ngModel)]="motiv"/>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-checkbox [(ngModel)]="accept" binary="true" value="false"
                    label="Va rog sa-mi aprobati eliberarea situatiei scolare"></p-checkbox>
    </div>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button md-button class="button" pButton icon="fa-check" (click)="sendInformation5()">TRIMITE</button>
            <button md-button class="button" pButton icon="fa-close" (click)="display5=false">ANULEAZA</button>
        </div>
    </p-footer>
</p-dialog>

    <!-- ======================== 6 POPUP ======================== -->
<p-dialog [(visible)]="display6" modal="modal" width="500" responsive="true">
    <p-header><h4>Trimitere cerere</h4></p-header>
    <table>
        <td><i class="material-icons">error outline</i></td>
        <td><h3>Introduceti datele necesare. Campurile cu * sunt obligatorii!</h3><br></td>
    </table>

    <div class="text-fields">
        <label> *</label>
        <input required type="number" pInputText size="40" placeholder="Anul Absolvirii" [(ngModel)]="anulAbsolvirii"/>
    </div>

    <div class="text-fields">
        <label> *</label>
        <p-selectButton [options]="examTypes" [(ngModel)]="selectedExamType"></p-selectButton>
    </div>

    <div class="text-fields">
        <h1> Chitanţa certificat competenţă lingvistică </h1>
        <label> *</label>
        <input type="text" required pInputText size="20" placeholder="Data" [(ngModel)]="competentaLingvisticaDate"/>
        <label> *</label>
        <input type="number" required pInputText size="20" placeholder="Suma" [(ngModel)]="competentaLingvisticaSum"/>
    </div>

    <div class="text-fields">
        <h1> Chitanţă repetare examen de licenţă (unde este cazul) </h1>
        <input type="text" pInputText size="20" placeholder="Data" [(ngModel)]="repetareExamenDate"/>
        <input type="number" pInputText size="20" placeholder="Suma"  [(ngModel)]="repetareExamenSum"/>
    </div>

    <div class="text-fields">
        <label> *</label>
        <input type="text" pInputText size="40" placeholder="Tema lucrarii" [(ngModel)]="tema"/>
    </div>

    <div class="text-fields">
        <label> *</label>
        <input type="text" pInputText size="40" placeholder="Coordonator stiintific" [(ngModel)]="coordonator"/>
    </div>

    <div class="text-fields">
        <label> *</label>
        <input type="text" required minlength="10" maxlength="10" pInputText size="40" placeholder="Numar Telefon" [(ngModel)]="phoneNumber"/>
    </div>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button md-button class="button" pButton icon="fa-check" (click)="sendInformation6()">TRIMITE</button>
            <button md-button class="button" pButton icon="fa-close" (click)="display6=false">ANULEAZA</button>
        </div>
    </p-footer>
</p-dialog>

    <div class="full-page">

        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <md-card class="my-card">
                        <md-card-title-group>
                            <md-card-title class="title"  md-button class="button" (click)="showDialog1()" pButton>Cerere Transport</md-card-title>
                            <i class="material-icons md-light">directions_bus</i>
                        </md-card-title-group>

                        <md-card-actions class="active" align="end">
                            <li class="active">
                                <button md-button class="button" (click)="showDialog1()" pButton>TRIMITE</button>
                            </li>
                        </md-card-actions>
                    </md-card>
                </div> <!--first card-->
                <div class="col-md-4">

                    <md-card class="my-card">
                        <md-card-title-group>
                            <md-card-title class="title">Cerere Retragere</md-card-title>
                            <i class="material-icons md-light">exit_to_app</i>
                        </md-card-title-group>

                        <md-card-actions class="active" align="end">
                            <li class="active">
                                <button md-button class="button" (click)="showDialog2()" pButton>TRIMITE</button>
                            </li>
                        </md-card-actions>
                    </md-card>
                </div> <!--second card-->
                <div class="col-md-4">

                    <md-card class="my-card">
                        <md-card-title-group>
                            <md-card-title class="title">Cerere Intrerupere Studii</md-card-title>
                            <i class="material-icons md-light">pause_circle_outline</i>
                        </md-card-title-group>

                        <md-card-actions class="active" align="end">
                            <li class="active">
                                <button md-button class="button" (click)="showDialog3()" pButton>TRIMITE</button>
                            </li>
                        </md-card-actions>
                    </md-card>
                </div> <!--third card-->

                <div class="col-md-4">

                    <md-card class="my-card">
                        <md-card-title-group>
                            <md-card-title class="title">Cerere Diploma</md-card-title>
                            <i class="material-icons md-light">school</i>
                        </md-card-title-group>

                        <md-card-actions class="active" align="end">
                            <li class="active">
                                <button md-button class="button" (click)="showDialog4()" pButton>TRIMITE</button>
                            </li>
                        </md-card-actions>
                    </md-card>
                </div> <!--forth card-->

                <div class="col-md-4">

                    <md-card class="my-card">
                        <md-card-title-group>
                            <md-card-title class="title">Cerere Situatie Scolara</md-card-title>
                            <i class="material-icons md-light">info_outline</i>
                        </md-card-title-group>

                        <md-card-actions class="active" align="end">
                            <li class="active">
                                <button md-button class="button" (click)="showDialog5()" pButton>TRIMITE</button>
                            </li>
                        </md-card-actions>
                    </md-card>
                </div>  <!--fifth card-->

                <div class="col-md-4">

                    <md-card class="my-card">
                        <md-card-title-group>
                            <md-card-title class="title">Cerere Inscriere Licenta</md-card-title>
                            <i class="material-icons md-light">description</i>
                        </md-card-title-group>

                        <md-card-actions class="active" align="end">
                            <li class="active">
                                <button md-button class="button" (click)="showDialog6()" pButton>TRIMITE</button>
                            </li>
                        </md-card-actions>
                    </md-card>
                </div> <!--fifth card-->


            </div><!--final row-->
        </div><!--final container-->

    </div>

<footer class="horizontal">
    <my-footer></my-footer>
</footer>
