
<popup #popup1>
  Esti sigur ca vrei sa trimiti cererea?
</popup>

<popup #popup2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Numar papuc</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="papuc" id="papuc" placeholder="40">
      </div>
    </div>
  </form>

</popup>


<div class="full-page">

    <div class="container">
        <div class="row">
            <div class="col-md-4" >

               <md-card class="my-card">
                 <md-card-title-group>
                   <md-card-title class="title">Cerere Transport</md-card-title>
                 </md-card-title-group>

                 <md-card-actions class="active" align="end">
                   <li class="active">
                     <button md-button class="button" (click)="showPopup1()">TRIMITE</button>
                   </li>
                 </md-card-actions>
               </md-card>
            </div> <!--first card-->
          <div class="col-md-4" >

            <md-card class="my-card">
              <md-card-title-group>
                <md-card-title class="title">Cerere Papuci</md-card-title>
              </md-card-title-group>

              <md-card-actions class="active" align="end">
                <li class="active">
                  <button md-button class="button" (click)="showPopup2()">TRIMITE</button>
                </li>
              </md-card-actions>
            </md-card>
          </div> <!--second card-->
          <div class="col-md-4" >

            <md-card class="my-card">
              <md-card-title-group>
                <md-card-title class="title">Cerere Transport</md-card-title>
              </md-card-title-group>

              <md-card-actions class="active" align="end">
                <li class="active">
                  <button md-button class="button">TRIMITE</button>
                </li>
              </md-card-actions>
            </md-card>
          </div> <!--third card-->


          <div class="col-md-4" >

            <md-card class="my-card">
              <md-card-title-group>
                <md-card-title class="title">Cerere Transport</md-card-title>
              </md-card-title-group>

              <md-card-actions class="active" align="end">
                <li class="active">
                  <button md-button class="button">TRIMITE</button>
                </li>
              </md-card-actions>
            </md-card>
          </div> <!--forth card-->

          <div class="col-md-4" >

            <md-card class="my-card">
              <md-card-title-group>
                <md-card-title class="title">Cerere Transport</md-card-title>
              </md-card-title-group>

              <md-card-actions class="active" align="end">
                <li class="active">
                  <button md-button class="button">TRIMITE</button>
                </li>
              </md-card-actions>
            </md-card>
          </div>  <!--fifth card-->

          <div class="col-md-4" >

            <md-card class="my-card">
              <md-card-title-group>
                <md-card-title class="title">Cerere Transport</md-card-title>
              </md-card-title-group>

              <md-card-actions class="active" align="end">
                <li class="active">
                  <button md-button class="button">TRIMITE</button>
                </li>
              </md-card-actions>
            </md-card>
          </div> <!--fifth card-->


        </div><!--final row-->
    </div><!--final container-->

</div>
