.container {
  margin-bottom: 10%;
}

h1 {
  font-size: 12px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

h2 {
  font-size: 12px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 15px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

table, tr, td {
  vertical-align: middle;
  padding-left: 15px;
  //pt ca iconita sa nu fie lipita in stanga de margina si textul sa fie in mijloc
}

#p-dialog {
  z-index: 9999;
  width: 100%;
}

.text-fields {
  margin-left: 60px;
  margin-bottom: 7px;
}

.material-icons {
  height: 38px;
  width: 38px;
  font-size: 36px;
  color: #E2C223;
  //marimea si culoarea iconitei
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
}

.col-sm-4 {
  background-color: grey;
}

.my-card {
  margin-top: 7%;
  background-color: #3C718E;
}

.title {
  color: white;
}

.horizontal {
  width: 100%;
  position: relative;
}

.button {
  background-color: #3C718E;
  color: white;
  margin-right: 0.5em;
}

li {
  list-style: none;
}

.card-media {
  background-color: #999999;
}
