h3 {
  font-size: 15px;
}

h4 {
  font-size: 20px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

/*
.ui-tooltip .ui-tooltip-text {
  background-color: red;
  color: #fff;
}nu merge
*/

img {
  display: block;
  margin: auto;
  //pentru a centra imaginea din cerculetul galben (din popup)
}

.circle-01 {
  border: solid 1px #E2C223;
  padding: 0 0 0 0;
  margin: auto;
  height: 50px;
  width: 50px;
  box-shadow: 1px 1px 8px #666;
  background: #E2C223;
  border-radius: 25px;
  //face un cerculet asemanator celui de la search
}

.col-sm-4 {
  background-color: grey;
}

.my-card {
  margin-top: 7%;
  background-color: #3C718E;
}

.title {
  color: white;
}

div.horizontalRule {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: #d1d1d1;
  height: 0.5px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.button {
  background-color: #3C718E;
  color: white;
  margin-right: 0.5em;
}

li {
  list-style: none;
}

.card-media {
  background-color: #999999;
}
