@media screen and (max-width: 1280px) {
  .banner {
    text-shadow: 2px 2px 8px #1E1E1E;
  }
}

@media screen and (max-width: 840px) {

  .banner {
    text-shadow: 2px 2px 8px #1E1E1E;
    text-align: center;
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    text-shadow: 2px 2px 8px #1E1E1E;
    text-align: center;
  }
}

#login h2 {
  position: relative;
  color: #fffdfc;
  text-shadow: 2px 2px 10px #1E1E1E;
  text-align-all: center;
  padding: 20px 223px;
  font-size: 4em;
}

.wrapp {
  background: url('../../../assets/Img/poza_facultate-01.png') no-repeat center center fixed;
  background-size: cover;
  padding: 8px;
  overflow: hidden;
  font-size: 13px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  min-width: 50%;
  min-height: 50%;

}

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 350px;
  min-height: 220px;
  position: relative;
}

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0px 70px 50px 70px;
  top: 100px;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 5px;
}

.login-html .sign-in-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.login-html .sign-in,
.login-form .group .check {
  display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}

.login-html .sign-in:checked + .tab {
  color: rgba(255, 255, 255, 0.67);
}

.login-form {
  min-height: 345px;
  min-width: 120px;
  position: relative;
  top: 23px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.login-form .group {
  margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: rgba(255, 255, 255, 0.61);
  display: block;

}

.login-form .group .input,
.login-form .group .button {
  border: rgba(73, 113, 187, 0.56) solid 1px;
  border-radius: 10px;
  background: 5px 0px rgba(255, 255, 255, 0.66);;
  color: #777;
  width: 210px;
  padding: 5px 5px 6px 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.icon1 {
  border: rgba(73, 113, 187, 0.56) solid 1px;
  border-radius: 10px;
  background: url('../../../assets/Img/AA.png') no-repeat 180px 0px rgba(255, 255, 255, 0.66);;
  font-family: "Roboto";
  color: #777;
  width: 210px;
  padding: 5px 5px 6px 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.icon2 {
  border: rgba(73, 113, 187, 0.56) solid 1px;
  border-radius: 10px;
  background: url('../../../assets/Img/BB.png') no-repeat 180px 0px rgba(255, 255, 255, 0.66);;
  font-family: "Roboto";
  color: #777;
  width: 210px;
  padding: 5px 5px 6px 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.login-form .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle;

}

.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}

.login-form .group .button {
  background: rgba(89, 145, 238, 0.56);
}

.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.42);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: rgba(255, 255, 255, 0.54);
  position: absolute;
  -webkit-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  -webkit-transform: scale(0) rotate(0);
  transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  -webkit-transform: scale(0) rotate(0);
  transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
  color: #fff;
}

.login-form .group .check:checked + label .icon {
  background: rgba(89, 145, 238, 0.56);
}

.login-form .group .check:checked + label .icon:before {
  -webkit-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
  -webkit-transform: scale(1) rotate(-45deg);
  transform: scale(1) rotate(-45deg);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, .2);
}

.foot-lnk {
  text-align: center;
}
