nav {
  background-color: #3C718E;
  color: white;
  border: none;
  height: 25%;
  z-index: 1;
  margin-bottom: 40px;
}

nav #container {
  margin-top: 4%;
  margin-left: 0;
  margin-right: 0;
  background-color: #336277;
  padding: 0.7em 0 0.2em 0;
  text-align: center;
  border: 0;
  height: 35%;
}

.btn {
  background-color: transparent;
}

.btn:hover {
  color: white !important;
  text-shadow: 0 0 2px white;
  text-decoration: none;
  cursor: pointer;
}

.btn:after {
  color: white !important;
  text-shadow: 0 0 2px white;
  display: block;
  outline: none;
}

.btn:focus {
  outline: none;
}

.btn2 {
  align-content: right;
  float: right;
}

.banner {
  text-shadow: 2px 2px 8px #1E1E1E;
  text-align: center;
  padding-left: 10%;
}

@media screen and (max-width: 1280px) {
  .banner {
    text-shadow: 2px 2px 8px #1E1E1E;
    text-align: center;
    padding-left: 15%;
    align-content: center;
  }

  nav {
    background-color: #3C718E;
    color: white;
    border: none;
    height: 25%;
  }

  nav #container {
    margin-top: 4%;
    margin-left: 0;
    margin-right: 0;
    background-color: #336277;
    padding: 0.7em 0 0.2em 0;
    text-align: center;
    border: 0;
    height: 35%;
  }

}

@media screen and (max-width: 840px) {

  .banner {
    text-shadow: 2px 2px 8px #1E1E1E;
    text-align: center;
    padding-left: 15%;
    font-size: 1.4em;
    align-content: center;
  }

  nav {
    background-color: #3C718E;
    color: white;
    border: none;
    height: 25%;
  }

  nav #container {
    margin-top: 4%;
    margin-left: 0;
    margin-right: 0;
    background-color: #336277;
    padding: 0.7em 0 0.2em 0;
    text-align: center;
    border: 0;
    height: 35%;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    text-shadow: 2px 2px 8px #1E1E1E;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.4em;
  }

  nav {
    background-color: #3C718E;
    color: white;
    border: none;
    height: 15%;
  }

  nav #container {
    margin-top: 4%;
    margin-left: 0;
    margin-right: 0;
    background-color: #336277;
    padding: 0.7em 0 0.2em 0;
    text-align: center;
    border: 0;
    height: 35%;
  }
}

a {
  color: #1E1E1E;
  text-decoration: none;
}

a:hover {
  color: white;
}

p {
  margin: 0 0 20px;
}

input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background: #E2C223 url('../../../assets/img/search-01-01.png') no-repeat 9px center;
  background-size: 55%;
  border: solid 1px #E2C223;
  padding: 7px 15px 7px 32px;
  width: 55px;

  box-shadow: 1px 1px 8px #666;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search]:focus {
  width: 130px;
  background-color: #fff;
}

input:-moz-placeholder {
  color: #1E1E1E;
}

input::-webkit-input-placeholder {
  color: #1E1E1E;
}

#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}

#demo-2 input[type=search]:hover {

}

#demo-2 input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #999;
  background-color: #fff;
  cursor: auto;
}

#demo-2 input:-moz-placeholder {
  color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}
