<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <button class="hidden-xs btn btn2" routerLink="/login">
        <span class="glyphicon glyphicon-off"> </span>
        Deconectare
    </button>

    <button class="visible-xs btn btn2" routerLink="/login">
        <span class="glyphicon glyphicon-off"> </span>
    </button>

    <h1 class="banner">FII DOCUMENTS FLOW</h1>
    <div id="cont">

        <!--HOME btn-->

            <!--home btn which will show on normal screen-->
        <button class="hidden-xs btn" routerLink="/history">
                ISTORIC
            </button>

        <button class="hidden-xs btn" routerLink="/home">
                LISTA DOCUMENTE
            </button>

            <!--home btn which whill show on small screen-->
        <button class="visible-xs btn" data-toggle="collapse" data-target=".navbar-collapse"
                routerLink="/history">
                ISTORIC
            </button>
        <button class="visible-xs btn" data-toggle="collapse" data-target=".navbar-collapse"
                routerLink="/home">
                LISTA DOCUMENTE
            </button>


        <form class="hidden-xs" id="demo-2" style="position:absolute; transition: .5s ease; top: 90%; left: 75%;">
            <input type="search">
        </form>
    </div>
</nav>
