<md-toolbar>
    <navbar></navbar>
</md-toolbar>
<div class="page">

    <div class="shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
            <tr>
                <th><b>ID</b></th>
                <th><b>TIP CERERE</b></th>
                <th><b>STATUS</b></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-title="ID">1</td>
                <td data-title="TIP CERERE">Cerere de transport</td>
                <td data-title="STATUS">Complet</td>
            </tr>
            <tr>
                <td data-title="ID">2</td>
                <td data-title="TIP CERERE">Cerere SCTP</td>
                <td data-title="STATUS">In asteptare...</td>
            </tr>
            <tr>
                <td data-title="ID">3</td>
                <td data-title="TIP CERERE">Cerere de transport</td>
                <td data-title="STATUS">Complet</td>
            </tr>
            </tbody>
        </table>

        <div style='float: right;'>
          <nav aria-label="Page navigation">
            <ul class="pagination pagination-lg">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
    </div>



</div>

<div class="horizontal">
    <my-footer class="my-ft"></my-footer>
</div>










