<md-toolbar>
    <navbar></navbar>
</md-toolbar>
<div class="page">

    <div class="shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
            <tr>
                <th><b>ID</b></th>
                <th><b>TIP CERERE</b></th>
                <th><b>STATUS</b></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-title="ID">1</td>
                <td data-title="TIP CERERE">Cerere de transport</td>
                <td data-title="STATUS">Complet</td>
            </tr>
            <tr>
                <td data-title="ID">2</td>
                <td data-title="TIP CERERE">Cerere SCTP</td>
                <td data-title="STATUS">In asteptare...</td>
            </tr>
            <tr>
                <td data-title="ID">3</td>
                <td data-title="TIP CERERE">Cerere de transport</td>
                <td data-title="STATUS">Complet</td>
            </tr>
            </tbody>
        </table>
        <div style='float: left;'>
            <button class="button disabled">Înapoi</button>
        </div>
        <div style='float: right;'>
            <button class="button button2">Înainte</button>
        </div>
    </div>
</div>

<div class="horizontal">
    <my-footer class="my-ft"></my-footer>
</div>










