@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

.wrapper {
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    width: 100%;
    display: table;
}

router-outlet {
    position: absolute;
    display: table-row;
}


.wrapper md-toolbar {
    margin-bottom: 7%;
}

.cont {
    margin-top: 10%;
    margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
    .container {
        margin-top: 8%;
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 840px) {
    .container {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin-top: 15%;
        margin-bottom: 15%;
    }
}


